<div class="col-12">
                    <form action="lists/search" method="POST" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="search" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>        
<div class = "container p-4">
<div class="row">
        {{#each lists}}
            <div class= "col-md-5">
                <div class= "card text-center">
                    <div class= "card-body">
                        <h3 class= "card-title text-uppercase">
                             <a href="/product">
                            {{nombre}}
                            </a>
                        </h3></form>
                        <p class= "m-2">{{Description}}</p>
                        <p>{{timeago created_at}}</p>
                        <a href="/lists/delete/{{id}}"class="btn btn-danger" >Borrar de la lista</a>
                        <a href="/lists/edit/{{id}}" class="btn btn-secondary">Edit</a>
                        <a href="/lists/ver/{{id}}" class="btn btn-secondary">Ver</a>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="col-md-4 mx auto">
                    <div class="card card-body text-center">
                        <p>No hay listas con ese nombre</p>
                    </div>
                </div>
        {{/each}}
</div>
</div>